
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #ecf0f1;
}

#hottest{
  font-size:10px;
}
#outStanding{
  font-size:10px;

}
#email{
  font-size:10px;

}
#clients{
  font-size:10px;

}
h4{
  margin-top: 0px;
}
#graph{
  /* display: grid;
  grid-template-columns: repeat(2,8fr);
grid-template-rows: repeat(1,4fr); */

  
  font-size: 10px;  
}

#Action{

  margin-top: 10px;
 margin-left: 20px;
}
#green{
 color: rgb(95, 175, 95);
}
#blue{
 color: rgb(98, 131, 202);
}
#yellow{
 color: rgb(224, 213, 109);
}
.data{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  font-size: 0.5em;
  border-bottom: 1px grey solid;
  cursor: pointer;
  text-align: center;
  margin:10px;
  }

  #popup{
    text-align: center;
  }

#header{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  font-size: 0.7em;
background-color: #F4E8C1;
color: grey;  

border:1px grey solid; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
}

input:hover{
  box-shadow: 0 4px 8px 0 rgba(115, 167, 231, 0.452), 0 6px 20px 0 rgba(115, 167, 231, 0.452);
  margin: 0;

}
#inputs{
  margin-left: 18px;
  padding-left: 20px
}
.inp{
  font-size: 80%;
  margin: 0;
  background-color: #f1f1f1;
  font-size: 0.7em;
  border-radius: 4px;

}

/* .top{
  display: grid;
  grid-area: f;  
} */
.s{
 margin-left: 15px;
}
#main-links {
  width:100%;
  background-color: #A0C1B8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 12fr;

}
.main-links {  
  font-size: 15px;
  padding: 7px;
  color: grey;  
  font-weight: bold;
}
.main-links:hover{
background-color: rgb(90, 187, 161);
}
.w3-input w3-animate-input{
  
  width:135px;
}

.inpAction{
  -webkit-appearance: none;
  width: 20%;
  height: 5%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease

}
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 0.6;
  border-radius: 20%;
}

.button:hover {
  background-color: rgb(168, 168, 168); 
  color: white;
}
#analitics{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}